.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2vh;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: blanchedalmond;
}
