.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2vh;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: blanchedalmond;
}

.my-post{
  font-size: 24px;
  color: sandybrown;
  text-align: center;
  font-weight: bold;
}

.novel-nil{
  font-size: 15px;
  font-weight: bold;

}

.item-lists{
  height: 50vh;
}
